
<div class="footer">
  <div class="container">
    <a href="//github.com/kywk/hexo-theme-awe">AWE for hexo</a> inspired by <a href="http://goo.gl/H8OMRE">Awesome UI Kit</a>,
    ported by <a href="//kywk.github.io/">MooCow (Aka. kywk)</a>.
    <% if (config.author){ %>
    &copy; <%= new Date().getFullYear() %> <%= config.author %> All Rights Reserved
    <% } else { %>
    &copy; <%= new Date().getFullYear() %> <%= config.title %> All Rights Reserved
    <% } %>
  </div>
</div>
